html{
    height: 100%;
    width: 100%;
}

body{
    background-color:#BBDCEC
}

#todo-list{
    text-align: center;
    font-size: 15pt;
    font-style: italic;
    font-weight: bold;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    margin: 20pt;
}

button{
    justify-content: center;
    color: black;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 20px;
    padding: 12px 28px;
    text-decoration: none;
    border: none; 
    text-align: center;
}

.button_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: black;
    color: white;
}

label{
    font-size: 20px;
    text-decoration: underline;
}

#dropdown{
    width: 50px;
    height: 25px;
}

@media (max-width: 1024px){
    .button_container > button {
        width: min-content; 
    }
}

@media (max-width: 768px){
    .button_container {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    button {
        margin: 5px;
    }
}

@media (max-width: 425px){
    .button_container {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
    }
}